BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
AccessModifierOffset: -1
ReflowComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackParameters: true
BinPackArguments: true
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
